@page "/atributos"

<h3>Atributos</h3>
<ul>
    @foreach (var att in atributos){
        <li>@att.nomeAtr: <input @bind="att.valorAtr" /> +@att.modAtr</li>
    }
</ul>
<button @onclick="BeginAtributos">Teste</button>
@code {
    private List<Atributo> atributos = new List<Atributo>();
    Dictionary<int, int> modLookup = new Dictionary<int, int>(){
        {1, -5},
        {2, -4},
        {3, -4},
        {4, -3},
        {5, -3},
        {6, -2},
        {7, -2},
        {8, -1},
        {9, -1},
        {10, 0},
        {11, 0},
        {12, 1},
        {13, 1},
        {14, 2},
        {15, 2},
        {16, 3},
        {17, 3},
        {18, 4},
        {19, 4},
        {20, 5},
        {21, 5},
        {22, 6},
        {23, 6},
        {24, 7},
        {25, 7},
    };
    private void BeginAtributos(){
        atributos.Add(new Atributo{
            nomeAtr = "Força",
            valorAtr = 13,
            modAtr = modLookup.GetValueOrDefault(13)
        });
        atributos.Add(new Atributo{
            nomeAtr = "Destreza",
            valorAtr = 13,
            modAtr = modLookup.GetValueOrDefault(13)
        });
        atributos.Add(new Atributo{
            nomeAtr = "Constituição",
            valorAtr = 13,
            modAtr = modLookup.GetValueOrDefault(13)
        });
        atributos.Add(new Atributo{
            nomeAtr = "Inteligência",
            valorAtr = 13,
            modAtr = modLookup.GetValueOrDefault(13)
        });
        atributos.Add(new Atributo{
            nomeAtr = "Sabedoria",
            valorAtr = 13,
            modAtr = modLookup.GetValueOrDefault(13)
        });
        atributos.Add(new Atributo{
            nomeAtr = "Carisma",
            valorAtr = 13,
            modAtr = modLookup.GetValueOrDefault(13)
        });
    }
}
