@page "/atributos"

<h3>Atributos</h3>

<div class="flex-container">
    @foreach (var atr in atributos){
        @if(atr.modAtr > 0){
            modSoma = "+"+@atr.modAtr.ToString();
        }
        else
        {
            modSoma = @atr.modAtr.ToString();
        }
        <div class="atributo">
            <div class="valores">
                <input size="3" @onfocusout="() => {atr.UpdateModificador();}" @bind="atr.valorAtr" /><input disabled="true" size="3" value="@modSoma" />
            </div>
            <div class="nome-rdz">@atr.nomeRdzAtr</div>
            <div class="nome">@atr.nomeAtr</div>
        </div>
    }
</div>
@code {
    private string modSoma = "";
    private List<Atributo> atributos = new List<Atributo>{
        new Atributo("Força", 10),
        new Atributo("Destreza", 10),
        new Atributo("Constituição", 10),
        new Atributo("Inteligência", 10),
        new Atributo("Sabedoria", 10),
        new Atributo("Carisma", 10)
        //new Atributo("Honra",10)
    };
}
