@page "/grimorio"

<h3>Grimório</h3>
<div class="grimorio">
    @foreach (var nivel in Magia.AgruparPorNivel(magias)){
        <div class="nivel-magia">
            <h4>Nível @nivel.Key</h4>
            <ul>
                @foreach (var magia in nivel){
                    <li><button @onclick="() => {OpenMagia(magia);}">@magia.nomeMagia</button></li>
                }
            </ul>
        </div>
    }
</div>

<hr />
@if(isHidden){
    <button @onclick="ToggleAddMenu">Adicionar Magia</button>
    <br />
    <br />
    <input @bind="listaCompleta"> <button @onclick="AddText">Pré Carregar</button>
}
else{
    <div class="card">
        <h1><input placeholder="Nome da Magia" @bind="newMagia.nomeMagia"/></h1>
        <h5>Divina, nível <input maxlength="2" @bind="newMagia.nivelMagia" /></h5>

        <p><input placeholder="Descrição" @bind="newMagia.descMagia" /></p>        
        
        <div class="atributo">
            <div class="dado"><input @bind="newMagia.alcance"/></div>
            <div class="legenda">Alcance</div>
        </div>
        <div class="atributo">
            <div class="dado"><input @bind="newMagia.alvo"/></div>
            <div class="legenda">Alvo/Área</div>
        </div>
        <div class="atributo">
            <div class="dado"><input @bind="newMagia.duracao"/></div>
            <div class="legenda">Duração</div>
        </div>
        <div class="atributo">
            <div class="dado"><input @bind="newMagia.testeResistencia"/></div>
            <div class="legenda">Teste de Resistência</div>
        </div>
        <div class="atributo">
            <div class="dado"><input @bind="newMagia.tempoExecucao"/></div>
            <div class="legenda">Tempo de Execução</div>
        </div>
        <div class="barra">
            <button @onclick="AddMagia"><span class="oi oi-check"></span></button>
            <button @onclick="ToggleAddMenu"><span class="oi oi-x"></span></button>
        </div>
    </div>
}

@code {
    //Precisa Persistir a lista; subir no contexto do app;
    private IList<Magia> magias = new List<Magia>();
    private Magia newMagia = new Magia();
    private Boolean isHidden = true;
    private string listaCompleta;

    private void AddMagia(){
        magias.Add(new Magia{
            nomeMagia = newMagia.nomeMagia,
            nivelMagia = newMagia.nivelMagia,
            tempoExecucao = newMagia.tempoExecucao,
            descMagia = newMagia.descMagia,
            alcance = newMagia.alcance,
            alvo = newMagia.alvo,
            duracao = newMagia.duracao,
            testeResistencia = newMagia.testeResistencia
        });
        newMagia.Clear();
        ToggleAddMenu();
    }
    private void ToggleAddMenu(){
        isHidden = !isHidden;
    }
    private void AddText(){
        IList<String> jsonMagias = listaCompleta.Split('_');
        foreach (var linha in jsonMagias)
        {
            magias.Add(System.Text.Json.JsonSerializer.Deserialize<Magia>(linha));
        }
    }
    private void OpenMagia(Magia magia){
        newMagia.nomeMagia = magia.nomeMagia;
        newMagia.nivelMagia = magia.nivelMagia;
        newMagia.tempoExecucao = magia.tempoExecucao;
        newMagia.descMagia = magia.descMagia;
        newMagia.alcance = magia.alcance;
        newMagia.alvo = magia.alvo;
        newMagia.duracao = magia.duracao;
        newMagia.testeResistencia = magia.testeResistencia;
        ToggleAddMenu();
    }
}
